/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

canvas {   
	display: block;   
	margin: auto;
}

.navbar.navbar-default {
	background-color: #ced3dc; 
	border: none;
	box-shadow: none;
  background-image: none;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-top: 5px;
}

.signout {
	color: white;
}

.btn.btn-primary {
	margin-top: 10px;
	margin-left: 5px;
}

.main-text {
	font-size: 84px;
}

.navbar-usr {
	font-size: 22px;
} 

#list-test, #list-test.a:link {
	color: black;
	border-radius: 5px;
	padding: 0;
	margin-left: 40%;
	margin-right: 40%;
	border: 1px solid black;
	text-decoration: none;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 32px;
}