// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#link1 {
	text-align: center;
	margin-top: 200px;
	margin-left: 0;
	font-size: 32px;

}

.erven img {
	width: 100%;
	height: 100%;
}